li {
  list-style: none;
  padding: 1em;
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
}
.container .home-menu {
  width: 30%;
  height: 1000px;
  background-color: #607D8B;
}
.container .home-menu .home-menu-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.container .home-menu .home-menu-ul a {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}
.container .home-menu .home-menu-ul a:hover {
  color: #00ACC1;
}

.container-list {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  margin-top: 3rem;
  color: white;
}

.addItems-container {
  background: #00897b;
}

.addItems-container,
.displayItems-container {
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  border: 1px solid white;
  box-shadow: 0 5px 10px #272932;
}

.addItems-title,
.displayItems-title {
  text-transform: capitalize;
}

.addItems-action,
.displayItems-action {
  border: 2px solid #272932;
  padding: 0.5rem 0;
  text-transform: capitalize;
  border-radius: 0.5rem;
  display: none;
}

.addItems-input {
  background: transparent;
  border: 1px solid white;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5em;
  color: white;
  outline: none;
}

.addItems-submit,
.displayItems-clear {
  display: block;
  width: 100%;
  margin: 1rem auto 0 auto;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
}

.addItems-submit {
  color: white;
  background: transparent;
  border: 1px solid white;
  transition: all 2s ease;
}
.addItems-submit:hover {
  background: #b6c2d9;
  color: #272932;
}

.displayItems-container {
  background: white;
}

.displayItems-title {
  color: #00897b;
  margin-bottom: 0.25rem;
}

.grocery-list {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 1s ease;
  margin: 0.5rem 0;
}

.grocery-list__title {
  text-align: left;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.grocery-item__link {
  color: red;
  transition: all 2s linear;
}

.grocery-item:hover .grocery-item__link {
  transform: scale(2);
}

.displayItems-clear {
  color: #00897b;
  background: transparent;
  border: 1px solid #00897b;
  transition: all 2s ease;
}

.displayItems-clear:hover {
  background: #4d7ea8;
  color: #272932;
}

/* action classes */
.alert {
  color: red;
  border-color: red;
  display: block;
  margin-bottom: 0.5rem;
}

.success {
  color: green;
  border-color: green;
  display: block;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: montserrat;
  box-sizing: border-box;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.login-form {
  width: 360px;
  height: 580px;
  background: #f1f1f1;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb .input-login {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.txtb span::after {
  top: 100%;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
  transition: 0.5s;
}

.focus + span::before {
  top: -5px;
}

.focus + span::after {
  width: 100%;
}

.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
  background-size: 200%;
  color: white;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.logbtn:hover {
  background-position: right;
}

.bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BF360C;
}

.container {
  width: 500px;
  height: 500px;
  display: grid;
  background-color: #E64A19;
  grid-gap: 5px;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 33% 33% 33%;
}

.card {
  cursor: pointer;
  background-color: #BF360C;
  position: relative;
}

.card::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 8rem;
}

.card.x::before {
  content: "X";
}

.card.x::before {
  content: "O";
}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 400px;
  height: 200px;
  padding: 20px 40px;
  background-color: white;
  font-size: 2rem;
  border-radius: 20px;
  text-align: center;
  animation: 0.5s linear;
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.winner button {
  margin-top: 20px;
  width: 80px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #BF360C;
}

.container-budget {
  display: flex;
}

h1 {
  font-size: 1.8rem;
  color: bisque;
}

.container__budget {
  width: 30%;
  height: 800px;
  background-color: #00ACC1;
  padding: 2rem;
}

.btn-budget {
  font-size: 1rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #6cc3d8;
  border-radius: 8px;
  border: none;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

input[type=text], [type=number] {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 3px solid #88d5e9;
  outline: none;
}

input[type=number]:focus {
  box-shadow: 0 0 10px #88d5e9;
}

.budgetDetails {
  width: 70%;
  height: 800px;
  display: block;
  justify-content: center;
  background-color: #B2EBF2;
  padding: 2rem;
  margin: auto;
}

.budgetDetails--div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  text-align: center;
}

h5 {
  color: grey;
  font-size: 1rem;
}

h6 {
  color: grey;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.expense-list {
  display: block;
}

.expense-list-div {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border-bottom: 2px solid grey;
}

.budget-feedback,
.expense-feedback {
  display: none;
}

.expense {
  display: flex;
}

.showItem {
  display: block;
  color: red;
}

.showRed {
  color: red;
}

.showGreen {
  color: green;
}

.showBlack {
  color: black;
}

@media (max-width: 600px) {
  .container {
    display: block;
  }

  .container__budget {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .budgetDetails {
    width: 100%;
    height: 700px;
    display: block;
    justify-content: center;
    background-color: #B2EBF2;
    padding: 1rem;
  }

  .budgetDetails--div {
    display: block;
    text-align: center;
  }

  .expense-list {
    display: block;
  }
}
.calculator {
  flex: 0 0 95%;
}

.screen {
  width: 100%;
  font-size: 7rem;
  padding: 0.5rem;
  background: #292938;
  color: white;
  border: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s linear;
}

button {
  flex: 0 0 25%;
  border: 1px solid black;
  padding: 0.2rem;
  transition: all 2s ease;
}

button:hover {
  background-color: blue;
}

.btn-yellow {
  background: #f5923e;
  color: white;
}

.btn-grey {
  background: #e0e0e0;
}

.btn, .btn-equal, .btn-clear {
  font-size: 4rem;
}

.btn-equal {
  background: green;
}

.btn-clear {
  background: red;
}

.alert {
  display: none;
  width: 100%;
  padding: 1em;
  border: 2px solid red;
}

.showAlert {
  display: block;
  width: 100%;
  padding: 1em;
  border: 2px solid red;
}

h1 {
  color: black;
}

.search-wikipedia {
  width: 100%;
  background: transparent;
  border: 2px solid #5D4037;
  font-size: 3rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
  color: #5D4037;
  text-transform: uppercase;
  outline: none;
}

.btn {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #5D4037;
  transition: all 0.3s linear;
}

.wait-icon {
  display: none;
  margin: 1rem auto;
}

.show {
  display: block;
}

.search-item {
  text-align: left;
  list-style-type: none;
  border: 0.05rem solid var(--darkGreen);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.search-item__title {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.search-item__text {
  margin: 0.5rem 0;
  letter-spacing: 0.3rem;
}

.search-item__link {
  text-decoration: none;
  color: var(--brown);
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 992px) {
  .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
