body {
	margin: 0 auto;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.container {
  min-width: 300px;
  padding: 1em;
}

form {
	padding: 1em;
}



.input-task {
  border: 1px solid white;
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 0.5rem;
  height: 30px;
}

.submit, .clear {
  display: block;
  width: 100%;
  margin: 1rem auto 0 auto;
  border: 1px solid white;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
}


.submit:hover {
  background: #357035;
  color: white;
}

.container {
  border: 1px solid white;
}

.container, .task-list {
	margin: 1rem 0;
	padding: 1rem;
	text-align: center;
}


.title {
  margin-bottom: 0.25rem;
}

.list {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  transition: all 1s ease;
  margin: 0.5rem 0;
}

.list > .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
  text-transform: capitalize;
  border-bottom: 1px solid gray;
}


.btn-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear:hover {
  color: white;
  background: red;
  transition: all .5s ease;
}

.clear:hover {
  background: rgb(134, 18, 18);
}
/* action classes */
.alert {
  color: rgb(134, 18, 18);
  display: block;
  margin-bottom: 0.5rem;
}
.success {
  color: green;
  display: block;
  margin-bottom: 0.5rem;
}
