h1{
    color: black;
}
.search-wikipedia{
 width: 100%;
 background: transparent;
 border:2px solid #5D4037;
 font-size: 3rem;
 margin: 1rem 0;
 padding: 0.5rem 0;
 color:#5D4037;
 text-transform: uppercase;
 outline:none;
}
.btn{
 display: block;
 width: 50%;
 margin: 0 auto;
 font-size: 2rem;
 border-radius: 0.25rem;
 text-transform: capitalize;
 background: transparent;
 border: 2px solid #5D4037;
 transition: all 0.3s linear;
}

.wait-icon{
 display: none;
 margin: 1rem auto;
}
.show{
 display:block
}
.search-item{
 text-align: left;
 list-style-type: none;
 border:0.05rem solid var(--darkGreen);
 padding: 1rem;
 margin: 1rem 0;
 border-radius: 0.5rem;
}

.search-item__title{
 text-transform: uppercase;
 letter-spacing: 0.4rem;
}
.search-item__text{
 margin: 0.5rem 0;
 letter-spacing: 0.3rem;
}
.search-item__link{
 text-decoration: none;
 color: var(--brown);
 font-size: 1.2rem;
 transition: all 0.2s ease-in-out;
}

@media screen and (min-width:992px){
 .results{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem;
 }
}