body {
  background: black;
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container__wrappe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  background: white;
  border-radius: 25px;
}

.value {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 60px;
}

.btn {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 900;
  color: rgb(157, 60, 33);
}
